<?xml version="1.0"?>
<robot name="myfirst">
	<link name="world"/>


  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="6.0" radius="2.0"/>
      </geometry>
    </visual>
    <inertial>
          <origin xyz="0 0 0" rpy="0 0 0"/>
          <mass value="0.1"/>
          <inertia
            ixx="0.0" ixy="0.0" ixz="0.0"
            iyy="0.0" iyz="0.0"
            izz="0.0"/>
        </inertial>
    <origin rpy="0 0 0" xyz="0 10.0 0"/>

  </link>

  <joint name="fixed" type="fixed">
    	<parent link="world"/>
    	<child link="base_link"/>
  	</joint>
  	
  
</robot>